# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.VeterinaryServices.iml
# Datasource local storage ignored files
/../../../../../../../../:\Nueva carpeta\Universidad\IGS\VeterinaryServices\.idea\.idea.VeterinaryServices\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
